---
layout: default
---

.home
  %h1.page-title
    = "Welcome!"

  -# Projects
  %h2.subhead
    = "Featured Projects"

  .projects
    = "{% assign projecttag = 'project' %}"
    = "{% for post in site.posts %}"
    = "{% if post.tags contains projecttag %}"

    %a.post-link(href="{{ post.url | prepend: site.baseurl }}")

      %div(class="{% if post.image %}post-listing post-listing-image{% else %}post-listing{% endif %}")

        %span.post-meta
          = '{% if post.langwork %}{{ post.langwork }}{% endif %}'
          = '{% if post.langwork and post.version %}/{% endif %}'
          = '{% if post.version %}{{ post.version }}{% endif %}'

        .post-image-container
          = "{% if post.image %}"
          %img.post-image(src="{{ post.image }}")
          = "{% endif %}"

        %h3.post-title
          = "{{ post.title }}"

      .clearfix

    = "{% endif %}"
    = "{% endfor %}"

  .cf
  %br

  -# Blogroll
  %h2.subhead
    = "Recent Posts"

  .posts
    = "{% assign blogtag = 'blog' %}"
    = "{% for post in site.posts %}"
    = "{% if post.tags contains blogtag %}"

    %a.post-link(href="{{ post.url | prepend: site.baseurl }}")

      %div(class="{% if post.image %}post-listing post-listing-image{% else %}post-listing{% endif %}")

        %span.post-meta
          = '{{ post.date | date: "%b %-d, %Y" }}'

        .post-image-container
          = "{% if post.image %}"
          %img.post-image(src="{{ post.image }}")
          = "{% endif %}"

        %h3.post-title
          = "{{ post.title }}"

      .clearfix

    = "{% endif %}"
    = "{% endfor %}"

    .cf

