%header.site-header
  %a.site-title(href="{{ site.baseurl }}/")
    = "{{ site.title }}"

  %nav.site-nav
    %a.menu-icon(href="#")
      %i.fa.fa-2x.fa-bars

    .site-description
      = "{{ site.description }}"

    .trigger
      = "{% for page in site.pages %}"
      = "{% if page.title %}"
      %a.page-link(href="{{ page.url | prepend: site.baseurl }}")
        = "{{ page.title }}"
      = "{% endif %}"
      = "{% endfor %}"

